venv
.venv
__pycache__/

*.pyc
*.pyo
*.pyd
env
ENV
env.bak
ENV.bak
.ipynb_checkpoints
.DS_Store
.vscode
.idea
*.sqlite3
*.log
*.env
.env
*.pem
*.key
*.crt
*.p12
*.pfx
*.bak
*.swp
*.swo
*.tmp
*.old
*.orig
*.rej
*.class
*.jar
*.war
*.ear
*.iml
*.db